.navbar{

    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
    padding-left: 40px;
  
    padding-right: 40px;
  
   
  
  }
  .new-market-box{
    display: flex;
   
    
  }
  .selection{
    padding: 10px;
    transition: 200ms ease;
    cursor: pointer;
  }

  .selection-default{
    background-color: #3874FF;
    padding: 10px;
    border-radius: 10px;
    
  }
  .selection:hover{
    background-color: #3874FF;
    border-radius: 10px;
    cursor: pointer;
  }
  .new-main-box{
   position: absolute;
   bottom:  -50%;
   outline: 2px solid #23252F;
   border-radius: 20px;
   overflow: hidden;
   transition: 300ms ease;
   
  }
  .new-main-box{
    
  }
.nmb{
  transition: 200ms ease;
  cursor: pointer;
padding-left: 30px;
padding-right: 30px;
border-radius: 30px;
}
.nmb:hover{
  background: #23252F;
}
  @media (max-width:600px){
    .new-main-box{
      position: absolute;
      bottom: -140%;
      outline: 2px solid #23252F;
      border-radius: 20px;
      overflow: hidden;
      
      
     }
  }
  .heading-of-new-main-box{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 10px;
    outline: 2px solid #23252F;
    overflow: hidden;
    font-size: 17px;
  }
  .headline{
  
    display: flex;
  
    gap: 20px;
    
    font-size: 17px;
  
    border: 1px solid #333748 ;
  
    overflow: auto;
  
  }

  .market{
  
   
  
   
  
  }
  
  .market-head{
  
    display: flex;
    
    align-items: center;
  
    justify-content: center;
  
    padding: 20px;
  
    overflow: hidden;
  
  }
  
  .btn_box{
  

    position: absolute;
    top: -190%;
    border-radius: 30px;
  
    border: 1px solid #333748 ;
  
    overflow: auto;
  
  }
  
  .nav-left{
  
    display: flex;
  
  }
  
  .market-update-dtls-head{
  
    display:flex;
  
    outline: 2px solid #333748;
  
    justify-content: space-between;
  
    padding: 20px;
  
    align-items: center;
  
    font-size: 25px;
  
    font-weight: bold;
  
  }
  
  .dtls-box{
  
    padding: 30px;
  
  }
  
  .dtls-box{
  
    display:flex;  outline: 1px solid #333748;
  
    background: #17181C;
  
  
  
  
  
   
  
  }
  
  .dtls-box-main{
  
    display:flex;
  
    justify-content: space-between;
  
     align-items: center;
  
     flex-direction: column;
  
  }
  
  .dtls-box{
  
    justify-content: space-between;
  
  }
  
  .testertwo{
  
    gap: 80px;
  
    display: flex;
  
    align-items: center;
  
  
  
  }
  
  .testerone{
  
    gap: 10px;
  
    display: flex;
  
    align-items: center;
  
  }
  
  .Logo{
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
  }
  
  .nav-right{
  
    align-items: center;
  
    justify-content: center;
  
    display: flex;
  
  }
  
  .nav-select-one{
  
  
  
  background-color: #3874FF;
  
  padding: 15px;
  
  overflow: hidden;
  
   
  
  }
  
  .nav-select-one-head{
  
  
  
    background-color: #3874FF;
  
    padding: 15px;
  
   
  
    border-radius: 20px;
  
     
  
    }
  
  .nav-select{
  
    padding: 15px;
  
  }
  
  .nav-select:hover{
  
    background-color: #3874FF;
  transition: 200ms ease;
  padding: 15px;
  
  overflow: hidden;
  
  cursor: pointer;
  
  }
  
  .nav-select-head-othrs:hover{
  
    background-color: #3874FF;
  
    padding: 15px;
  
    overflow: hidden;
  
    cursor: pointer;
  
    border-radius: 20px;
  
  }
  
  .nav-items{
  
    display: flex;
  
    margin-left: 30px;
  
    align-items: center;
  
    justify-content: center;
  
    font-weight: 700;
  
    font-size: 16px;
  
   
  
  }
  
  .child{
  
    border: 1px solid #333748;
  
    padding: 20px;
  
  }
  
  .child-lower-lower{
  
    display: flex;
  
    align-items: center;
  
  }
  
  .headline-child{
  
    gap: 20px;
  
  }
  
  .child-top{
  
    display: flex;
  
    align-items: center;
  
   gap: 10px;
  
  }
  
  .hero{
  
    align-items: center;
  
    justify-content: space-between;
  
    background-color: #17181C;
  
    padding-top: 10px;
  
   padding-left: 40px;
  
   padding-right: 40px;
  
  }
  
  .market-upadates{
  
    padding-left: 40px;
  
    padding-right: 40px;
  
    color: white;
  
    align-items: center;
  
  }
  
  .market-head-items{
  
    gap: 15px;
  
   
  
  }
  
  .market-updates-head{
  
    display: flex;
  
    justify-content: space-between;
  
  }
  
  .child:hover{
  
    background: #23252F;
  
  }
  
  #ham-icon{
  
    display: none;
  
  }
  
  .bd{
  
    background: #f2ecec;
  
  }
  
  .wallet-btn{
  
    border: solid 1px #fff;
  
    border-radius: 20px;
  
  }
  
  .wallet-btn:hover{
  
    background-color: #3874FF;
  
    border: solid 1px #3874FF;
  
    color: white;
  
  }
  .market-headline{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 56px;
    color: white;
  }
  
  @media (max-width:600px) {
  
    .nav-items{
  
      display: none;
  
    }
  
    .wallet-btn{
  
      display: none;
  
    }
  
    .dtls-box-main{
  
      margin-top: 10px;
  
    }
  
    .market-update-dtls-head{
  
      margin-top: 500px;
  
      display: flex;
      
     padding: 10px;
  
     
  
     
  
    }
  
    .testerone{
  
     
  
    }
  
    .testerthree{
  
      display: none;
  
    }
  
    .hidder{
  
      display: none;
  
    }
  
  
  
    #ham-icon{
  
      display: inline;
  
    }
  
    .headline{
  
      flex-wrap:wrap;
  
     
  
    }
  
    .nav-select:hover{
  
      background-color: #3874FF;
  
    padding: 12px;
  
    overflow: hidden;
  
    cursor: pointer;
  
    }
   
  
    .nav-select{
  
      padding: 12px;
  
    }
  
    .btn_box{
  
      margin-top: 50px;
  
    }
  
    .market-upadates{
  
      padding-left: 10px;
  
      padding-right: 10px;
  
    }
  
  }
  
  .navbar{
  
    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
    padding-left: 40px;
  
    padding-right: 40px;
  
   
  
  }
  
  .headline{
  
    display: flex;
  
    gap: 20px;
  
    font-size: 17px;
  
    border: 1px solid #333748 ;
  
    overflow: hidden;
  
  }
  
  .market{
  
   
  
   
  
  }
  
  .market-head{
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    padding: 20px;
  
    overflow: hidden;
  
  }
  
  .btn_box{
  
    
  
    border-radius: 30px;
  
    border: 1px solid #333748 ;
  
    overflow: hidden;
  
  }
  
  .nav-left{
  
    display: flex;
  
  }
  
  .market-update-dtls-head{
  
    display:flex;
  
    outline: 2px solid #333748;
  
    justify-content: space-between;
  
    padding: 20px;
  
    align-items: center;
  
    font-size: 25px;
  
    font-weight: bold;
  
  }
  
  .dtls-box{
  
    padding: 30px;
  
  }
  
  .dtls-box{
  
    display:flex;  outline: 1px solid #333748;
  
    background: #17181C;
  
  
  
  
  
   
  
  }
  
  .dtls-box-main{
  
    display:flex;
  
    justify-content: space-between;
  
     align-items: center;
  
     flex-direction: column;
  
  }
  
  .dtls-box{
  
    justify-content: space-between;
  
  }
  
  .testertwo{
  
    gap: 80px;
  
    display: flex;
  
    align-items: center;
  
  
  
  }
  
  .testerone{
  
    gap: 10px;
  
    display: flex;
  
    align-items: center;
  
  }
  
  .Logo{
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
  }
  
  .nav-right{
  
    align-items: center;
  
    justify-content: center;
  
    display: flex;
  
  }
  
  .nav-select-one{
  
  
  
  background-color: #3874FF;
  
  padding: 15px;
  
  overflow: hidden;
  
   
  
  }
  
  .nav-select-one-head{
  
  
  
    background-color: #3874FF;
  
    padding: 15px;
  
   
  
    border-radius: 20px;
  
     
  
    }
  
  .nav-select{
  
    padding: 15px;
    transition: 300ms ease-in-out;
  
  
  }
  
  .nav-select:hover{
  
    background-color: #3874FF;
  
  padding: 15px;
  

  overflow: hidden;
  
  cursor: pointer;
  
  }
  
  .nav-select-head-othrs:hover{
  
    background-color: #3874FF;
  
    padding: 15px;
  
    overflow: hidden;
  
    cursor: pointer;
  
    border-radius: 20px;
  
  }
  
  .nav-items{
  
    display: flex;
  
    margin-left: 30px;
  
    align-items: center;
  
    justify-content: center;
  
    font-weight: 700;
  
    font-size: 16px;
  
   
  
  }
  
  .child{
  
    border: 1px solid #333748;
  
    padding: 20px;
  
  }
  
  .child-lower-lower{
  
    display: flex;
  
    align-items: center;
  
  }
  
  .headline-child{
  
    gap: 20px;
  
  }
  
  .child-top{
  
    display: flex;
  
    align-items: center;
  
   gap: 10px;
  
  }
  
  .hero{
  
    align-items: center;
  
    justify-content: space-between;
  
    background-color: #17181C;
  
    padding-top: 10px;
  
   padding-left: 40px;
  
   padding-right: 40px;
  
  }
  
  .market-upadates{
  
    padding-left: 40px;
  
    padding-right: 40px;
  
    color: white;
  
    align-items: center;
  
  }
  
  .market-head-items{
  
    gap: 15px;
  
   
  
  }
  
  .market-updates-head{
  
    display: flex;
  
    justify-content: space-between;
  
  }
  
  .child:hover{
  
    background: #23252F;
  
  }
  
  #ham-icon{
  
    display: none;
  
  }
  
  .bd{
  
    background: #f2ecec;
  
  }
  
  .wallet-btn{
  
    border: solid 1px #fff;
  
    border-radius: 20px;
  
  }
  .download-btn{
    border: solid 1px #fff;
  
    border-radius: 20px;
  }
  .download-btn:hover{
    background-color: #3874FF;
  
    border: solid 1px #3874FF;
  
    color: white;
  }
  .wallet-btn:hover{
  
    background-color: #3874FF;
  
    border: solid 1px #3874FF;
  
    color: white;
  
  }
  
  @media (max-width:620px) {
    
    .process-part{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
   
    .nav-items{
  
      display: none;
  
    }
    .process-box{

    }
  
    .wallet-btn{
  
      display: none;
  
    }
  
    .dtls-box-main{
  
      margin-top: 10px;
  
    }
  
    .market-update-dtls-head{
  
      margin-top: 500px;
  
      display: flex;
  
     padding: 10px;
  
     
  
     
  
    }
  
    .testerone{
  
   
  
    }
  .dtls-box-main{
   
  }
    .testerthree{
  
     
  
    }
    .market-update-dtls-head{
     
    }
  .market-upadates{
   
  }
    .hidder{
  
      display: none;
  
    }
    .market{
    
    }
  #test{
   
  }
  .MD{
    display: block;
  }
  #process-part-mob{
    display: flex;
    flex-direction: column;
  }
  
    #ham-icon{
  
      display: inline;
  
    }
    
    .headline{
  
      flex-wrap:wrap;
  
     
  
    }
  
    .nav-select:hover{
  
      background-color: #3874FF;
  
    padding: 12px;
  
    overflow: hidden;
  
    cursor: pointer;
  
    }
    
  
    .nav-select{
  
      padding: 12px;
  
    }
  .process-part{
   
  }
  
    .btn_box{
      
      margin-top: 50px;
  
    }
  
    .market-upadates{
  
      padding-left: 10px;
      
      padding-right: 10px;
  
    }
  
  }
  .process-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .process-box{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }


  .process-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
  }

  .process-part{
    padding-left: 40px;
    padding-right: 40px;
  }

  .process-lower{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

.whatis-test{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

}
.whatis-main{

}

.footer{
  outline: 2px solid #333748;
}

@media (min-width: 1920px) {
.hero{
  padding: 120px;
}
.navbar{
 padding-left: 120px;
 padding-right: 120px;
}
#pc-text{
  font-size:100px;
  width: 720px;
}
#pc-img{
  width: 620px;
}
#pc-para{
 
}
}